@import "config";

body {
  font-family: "Kumbh Sans", sans-serif;
  background: rgb(175, 103, 233);
  background: linear-gradient(175deg, rgba(175, 103, 233, 1) 0%, rgba(101, 101, 231, 1) 100%);
  height: 100vh;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion {
  width: 940px;
  height: 510px;
  border-radius: 30px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;

  &__left {
    z-index: 2;
    overflow: hidden;
    background: url(../images/bg-pattern-desktop.svg);
    background-position: bottom -146px right 59px;
    background-repeat: no-repeat;

    &--box {
      position: absolute;
      top: 42%;
      left: -9%;
    }

    &--woman {
      position: relative;
      top: 15%;
      left: -15%;
      z-index: -1;
    }
  }

  &__right {
    overflow: hidden;
    margin-top: 30px;

    &__faq {
      padding: 50px;
      width: 100%;
      height: 100%;

      h1 {
        margin-bottom: 30px;
      }
    }

    &__question {
      color: $very-dark-blue;

      &__cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 18px auto;
        user-select: none;
        animation: 2s;

        &:hover {
          cursor: pointer;
          color: $soft-red;
        }

        &.active {
          border: none;
          font-weight: bold;
        }
      }

      p {
        display: inline-block;
        user-select: none;
        // padding: 18px 0;
      }

      img {
        width: 12px;
        height: 8px;
        cursor: pointer;
      }

      .divider {
        height: 1px;
        width: 100%;
        background: $light-blue;
      }
    }

    &__answer {
      font-size: 13px;
      color: hsl(240, 6%, 50%);
      margin-bottom: 20px;

      &.hidden {
        display: none;
      }
    }
  }
}

@import "mobile";
